@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tiptap Editor Styling */
.ProseMirror {
  @apply focus:outline-none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
  @apply rounded-lg my-4;
}
